@import "../vendor/fonts.css";
.footer {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  margin: 0;
  font-size: 14px;
  text-align: center;
  font-family: "Inter Web", serif;
  font-size: 14px;
  line-height: 16%;
  padding-bottom: 24px;
}
